.titolo {
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    line-height: 1;
    margin-top: 1;
    text-align: left;
}

.titolo div {
    font-size: 48px;
    margin: 0;
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    line-height: 1;
    margin-top: 1;
    text-align: left;
}